/* The Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&display=swap');

/*Colors
Blue/green: #052B2D 
Background color: #EDF1E8
Button color: #1E6669
Button color highlight: #80A6A3
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #052B2D;
    background-color:#F8F9F6;
    margin: 0px;
}

h1 {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 3px;
}

h2 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 3px;
}

h3 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #272928;
}

button {
    transition: 0.5s ease;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*header*/
.header {
    background-color:#F8F9F6;
    border-bottom: 1px solid #052B2D;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.header-grid {
    padding: 18px 75px 18px 75px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-wrapper {
    position: relative;
}

.ploof-logo {
    width: auto;
    height: 80px;
}

.ploof-logo-hover {
    position: absolute;
    width: auto;
    height: 80px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.header-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header-buttons {
    font-size: 14px;
    letter-spacing: 2px;
    color: #052B2D;
    font-weight: 500;
    border-style: solid;
    border-color: #1E6669;
    width: 12em;
    padding: 12px;
    border-radius: 100px;
    margin: 16px;
}

/*side menu*/
.hamburger-menu {
    display: block;
    cursor: pointer;
    font-size: 55px;
}
  
@media (min-width: 960px) {
    .hamburger-menu {
      display: none;
    }
}

.side-menu-position {
    padding-top: 25px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.side-menu-design {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    background-color: #F8F9F6;
    padding: 20px;
    color:#052B2D;
    font-size: 38px;
    cursor: pointer;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.side-menu-ploof-logo {
    width: auto;
    height: 100px;
}

.side-menu-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.side-menu-links {
    text-decoration: none;
    line-height: 2em;
    color: #052B2D;
}

.close-icon {
    cursor: pointer;
    font-size: 48px;
    margin-bottom: 20px;
}

/*Side menu breakpoints */
@media screen and (max-width: 960px) {
    .header-links {
        display: none;
    }

    .ploof-logo {
        display: none;
    }

    .ploof-logo-hover {
        display: inline;
    }

    .hamburger-menu {
        display: block;
        text-align: right;
        margin-right: 50px;
    }

    .header-grid {
        grid-template-columns: 1fr; /* Adjust the number of columns as needed */
    }

    .header {
        border-bottom: none;
    }    
}


/* Animation classes */
.show-menu {
    opacity: 1;
    transform: translateX(0%);
}

/*Intro*/
.landing-page-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 75px 200px 75px 200px;
}

.bio-copy-flex {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
    margin-left: 12px;
}

.headshot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    border: 2px solid #052B2D;
    border-radius: 1000px;
    margin-right: 12px;
}

.dark-button {
    font-size: 14px;
    letter-spacing: 3px;
    background-color: #052B2D;
    color: #ffff;
    font-weight: 500;
    border-style: none;
    width: 12em;
    padding: 16px;
    border-radius: 100px;
    margin-top: 16px;
}

/*skills & tools*/
#skills-tools {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    line-height: 30px;
}

.list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}


/*featured work*/
.featured-work {
    background: #D7DFDF;
    color: #052B2D;
    padding: 75px 200px 100px 200px;
}


.featured-work-header {
    margin-top: 0px;
    margin-bottom: 42px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0.7);
}

.featured-work-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 10px;
}

.featured-work-image-1 {
    background-image: url(Lonely_Traveler_App_Design.jpg);
}


.featured-work-image-3 {
    background-image: url(VPI_website.png);
}

.featured-work-image-4 {
    background-image: url(Shop_Tash.png);
}

.featured-work-image-5 {
    background-image: url(Agape.png);
}

/*featured work page*/
#featured-work-page {
    color: #052B2D;
    padding: 75px 200px 100px 200px;
}

.featured-work-page-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    transition: transform 0.3s ease;
}

/*form*/
.get-in-touch {
    margin: 75px 200px 100px 200px;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 18px;
}

/*lonely traveler page*/
.lonely-traveler-hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: #D7DFDF;
}

.lt-image {
    justify-self: center;
    height: 500px;
}

.lt-image-2 {
    justify-self: center;
    height: 500px;
}

.lt-spacing {
    padding: 75px 300px 50px 300px;
}

.lt-description-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 75px;
}

.lt-description-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lt-images-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 75px;
}

.lt-button-spacing {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

.lt-button {
    font-size: 24px;
    letter-spacing: 3px;
    background-color: #052B2D;
    color: #ffff;
    font-weight: 500;
    border-style: none;
    padding: 16px 32px 16px 32px;
    border-radius: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/*footer*/
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #052B2D;
    margin-top: 32px;
    padding: 10px 75px 3px 3px;
}

.connect {
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2.5px;
    padding-right: 20px;
}

.footer-logo {
    height: 32px;
    padding: 10px;
    transition: transform 0.3s ease;
}


/*button hover*/
button:hover {
    background-color: #0B9484; 
    font-weight: 500;
}

.header-buttons:hover {
    color:#ffff;
    border-color: #0B9484;
}

.ploof-logo-hover:hover {
    opacity: 1;
  }

.card:hover {
    transform: scale(1.03);
    filter: brightness(1);
}

.featured-work-page-card:hover {
    transform: scale(1.03);
}

.footer-logo:hover {
    transform: scale(1.05);
}

/*breakpoints*/
@media (max-width:1260px) {
    .landing-page-grid {
        grid-template-columns: 1fr;
    }
    
    .headshot {
        height: 200px;
        justify-content: center;
    }

    .lt-spacing {
        padding: 75px 100px 75px 100px;
    }

    .lt-images-grid {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 32px;
    }
}


@media (max-width:960px) {
    .header-links {
        display: none;
    }

    h3 {
        font-size: 24px;
    }
    
    .landing-page-grid {
        margin: 75px;
    }

    .featured-work {
        padding: 75px;
    }

    .card-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    .get-in-touch {
        margin: 75px;
    }

    .lonely-traveler-hero {
        grid-template-columns: 1fr;
    }

    .lt-description-grid {
        grid-template-columns: 1fr;
        grid-column-gap: 75px;
    }
    
    .lt-description-grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .lt-images-grid {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .lt-image-2 {
        height: auto;
    }
}